{# Page mentions legales in the footer #}

{% extends 'base.html.twig' %}

{% block title %}Page Mentions Légales{% endblock %}

{% block body %}
<style>
    p {
        text-align:left;
        margin-bottom:17px;
    }

    h1, h2 {
        margin-bottom:20px;
    }
</style>

<div class="general-div">
    <h1>À Propos</h1>
   
    <p>My Vlog est un site entièrement gratuit, sans aucune pub ni aucun tracking des utilisateurs.</p>

    <p>Le site a entièrement été réalisé de manière bénévole par Rocher Sandra. Le code source du site est consultable à cette adresse : 
    ADRESSE GITHUB TODO</p>

    <h2>Pourquoi ce vlog ?</h2>
    <p>J'ai pour but de contiuer d'apprendre, alors ce vlog est le moyen pour moi d'allier la continuité de ma formation en développement web, 
    ainsi que la passion du voyage.</p>


    <h2>Conditions Générales d'Utilisation</h2>
    <p>L'utilisation du site My Vlog implique l'acceptation des conditions générales d'utilisation (CGU) suivantes (CGU et mentions légales 
    susceptibles de modification à tout moment, les utilisateurs sont invités à les consulter à chaque utilisation du site).</p>

    <p>Le site est supposé accessible en tout instant, pour tous les utilisateurs connectés au serveur, néanmoins des interruptions (volontaires : 
    mise à jour, maintenance technique, etc.) ou involontaires (problèmes hébergeurs, bugs, etc.) peuvent néanmoins survenir.</p>

    <p>Le site est composé d'un formulaire ayant pour but de pouvoir poser une question. 
    Noter que la requête directe demandant nom, prénom, email, ville TODO ainsi que la question ne seront pas stockés dans la base de données car les données 
    et informations sont envoyés directement sur mon email.
    Ces données ne seront jamais utilisées à des fins commerciales ou autres reventes divers. 
    Toutefois, les auteurs ne pourront être tenus responsables d'éventuelles omissions ou inexactitudes des informations fournis. </p>

    <p>Le site utilise des technologies web standard (HTML, CSS, JavaScript, Symfony, Twig, PHP et MySQL) et ne pourra être tenu responsable de 
    dommages directs ou indirects liés à l'usage du site. L'utilisateur s'engage à utiliser le site My Vlog uniquement avec un matériel récent 
    et des logiciels mis à jour et non modifiés (piratage, virus, etc.). </p>

    <p>En utilisant le site My Vlog, l'hébergeur a l'obligation de recueillir certaines données comme la current position de l'utilisateur en vue 
    de lui afficher la météo de sa ville sur la page d'accueil. Ces données ne sont pas stockées. TODO</p>

    <p>Le site My Vlog propose des liens vers d'autres sites (comme Youtube, CV design, Linkedin, Mon Portfolio et Github) mais n'a 
    pas la capacité de vérifier les contenus mis à jour des sites ainsi visités, et ne pourra être tenu responsable de leur contenu.</p>
</div>
{% endblock %}
