{# Page recrut in the footer #}

{% extends 'base.html.twig' %}

{% block title %}Page Recruteur{% endblock %}

{% block body %}
<style>
    p {
        text-align:left;
        margin-bottom:17px;
    }

    h1, h2 {
        margin-bottom:20px;
    }
</style>

<div class="general-div">
    <h1>Bonjour</h1>

    <h2>Voici l'envers du décor ainsi que quelques explications :</h2>

    <p>L'entrée du site My Vlog se fait sur la page /Home, sur cette page un fond d'écran en mp4 anime 
    l'indice du total des heures de vidéos présentes sur le site.</p>

    <h3> En parcourant la navbar : </h3>

    <p>La page /Voyage contient toutes les vidéos sur le thème Voyage (ici, aux usa). Ils peuvent être classé par 
    ordre de date croissante, décroissante, ou par ordre alphabétique.</p>
    <p>Au click sur une vidéo voici le chemin crée : /Voyage/Titre de la vidéo sélectionnée.</p>

     {# <p>La page /Sport contient toutes les vidéos sur le thème Sport (tournée sur la moto). Ils peuvent être classé par 
    ordre de date croissante, décroissante, ou par ordre alphabétique.</p> TODO #}

     {# <p>La page /WW2 contient toutes les vidéos sur le thème WW2 (activitées d'une association). Ils peuvent être classé par 
    ordre de date croissante, décroissante, ou par ordre alphabétique.</p> TODO #}

    

      <p>La page /Admin renvoie sur une connexion obligatoire, une fois connecté l'admin à accès au dashboard qui permet 
      de publier une vidéo, et de modifier ou de supprimer celle déjà présentes. Les pages attachées sont donc /Connexion et /Déconnexion.</p>

       <p>La page Suivez-nous ouvre une autre page sur Youtube, sur le compte BS qui est le compte publiant les vidéos en ligne.</p>

       <p>La page /Contact Vous pouvez contacter l'admin et envoyer un message, en choississant un thème et en remplissant votre identité.</p>




       <h3> En parcourant le footer : </h3>

       <p>Plusieurs pages sont proposées, au click elles ouvriront une autre page sans perdre le site My Vlog tel que : Linkedin, Github, 
       Mon portfolio, Mon CV.</p>

       <p>La page /Mention-Legales permet de vous donnez des présicions sur le site en général.</p>

       <p>La page /Recruteur (celle ci) permet de vous donner des détails (que vous êtes entrain de lire) sur la réalisation du site.</p>


    <h3>Divers :</h3>
        <p>Il existe des pages partielles comme /Base qui permet de contenir tous les liens bootstrap, SEO, JavaScript, Metas, la Navbar
         et le footer, ou encore la flèche back to up.</p>

        <p>Une page au nom de /Flash qui permet de produire les messages d'erreur en rouge ou de réussite en vert.</p>

        <p>Une Flèche nommée arrow-up permet de remonter en haut de la page, elle se déclenche lorsque l'on commence à descendre.</p>



</div>
{% endblock %}
