{# Page recrut in the footer #}

{% extends 'base.html.twig' %}

{% block title %}Page Recruteur{% endblock %}

{% block body %}
<style>
    p {
        text-align:left;
        margin-bottom:20px;
    }

    /* H5 green color in carousel */
    .pcarousel {
        color: #65b868;
        background-color: rgba(0, 0, 0, 0.9);
    }

    /* span indicator previous and next page of the carousel */
    .carousel-indicators [data-bs-target] {
        box-shadow: 1px 1px 10px #65b868;
        background-color: #65b868;
    }

    /* arrow button span previous and next page of the carousel */
    .carousel-control-prev-icon, .carousel-control-next-icon {
        box-shadow: 1px 1px 10px 5px #65b868;
        border-radius: 50%;
    }
</style>

<div class="general-div">
    <h1 class="mb-4">Page spéciale à l'attention des recruteurs</h1>

    <h3 class="mb-5 my-4">Voici l'envers du décor ainsi que quelques explications :</h3>

       <p>My Vlog est un site qui propose des vidéos, basé ici sur le thème du voyage. J'ai pour but de continuer d'apprendre 
       les langages PHP ainsi que Symfony. Ce vlog est le moyen pour moi d'allier la continuité de ma formation en développement
        web et ma passion pour les USA. Le code source du site est consultable à cette adresse : 
        <a href="https://github.com/Sandra-Rocher/My_Vlog" target="_blank">https://github.com/Sandra-Rocher/My_Vlog</a>.</p>

        <p>L'entrée du site My Vlog se fait sur la page d'accueil /home, sur cette page une vidéo en mp4 anime le fond. Un brand-carousel
         défile pour montrer les logos des différents parc nationaux et villes visitées au cours du road trip.
        Il s'arrête au survol de la souris et se fond dans une wave noire, pour apporter un style unique et audacieux.
        Un indice du total des heures, minutes et secondes des vidéos présentes sur le site est affiché. 
        Un effet parallaxe est aussi présent pour donner de la profondeur qui apporte une dimension esthétique à cette page.</p>

    <h3 class="mb-5 my-5">En parcourant la navbar :</h3>

        <p>La page /home permet (comme en cliquant sur l'icone du globe gris du site My Vlog) de se rendre sur la page d'entrée du site.</p>

        <p>La page /Voyage affiche toutes les vidéos sur le thème Voyage (ici, aux États-Unis).</p>
        {# Elles peuvent être classées par 
        ordre de date croissante, décroissante, ou par ordre alphabétique et inverse. TODO #}

        {# <p>La page /RoadBook contient tous les roadbooks des voyages, les plans à voir ou télécharger en PDF.</p> TODO #}

        {# <p>La page /Sport contient toutes les vidéos sur le thème Sport (tournée sur la moto). Ils peuvent être classé par 
        ordre de date croissante, décroissante, ou par ordre alphabétique.</p> TODO #}

        {# <p>La page /WW2 contient toutes les vidéos sur le thème WW2 (activitées d'une association). Ils peuvent être classé par 
        ordre de date croissante, décroissante, ou par ordre alphabétique.</p> TODO #}


        <p>L'administrateur dispose de pages spécifiques 
        qui lui sont réservées. Cette page renvoie donc sur une connexion obligatoire (/Connexion). 
        Une fois connecté, l'administrateur a accès au tableau de bord, lui permettant de publier 
        une vidéo, ainsi que de modifier ou supprimer celles déjà présentes. Il existe aussi la page Déconnexion (/Deconnexion).</p>
    
        <p>La page /Contact vous permet de contacter l'admin (créateur du site) et d'envoyer un message, en choississant un thème 
        et en remplissant votre identité, permettant de vous apporter une réponse.</p>

        <p>Une barre de recherche est disponible pour trouver des vidéos en saisissant une lettre, un mot ou un chiffre. 
        Si le terme recherché est présent dans la base de données (que ce soit dans un commentaire, un titre, un lieu d'intérêt 
        ou un état), les vidéos correspondantes s'afficheront.</p>
        {# <p>Pour améliorer la recherche, une fonction similaire à Elastic Search est intégrée, permettant de flouter les 
        résultats. Cela signifie que même si le mot recherché contient des fautes, les résultats s'afficheront, car ils 
        seront proches du mot clé. TODO</p> #}
    
    <h3 class="mb-5 my-5">En parcourant le footer :</h3>

       <p>Plusieurs pages sont proposées, au click elles ouvriront une autre page sans perdre le site My Vlog tel que : Mon 
       Linkedin, Mon Git, Mon portfolio, Mon CV, et le lien Suivez-nous qui mène sur Youtube, sur le compte publiant les 
       vidéos en ligne.</p>

       <p>La page /Mention-Legales permet de vous donnez des présicions sur le site en général.</p>

       <p>La page /Recruteur (celle-ci) permet de vous donner des détails (que vous êtes entrain de lire) sur la réalisation 
       du site.</p>


    <h3 class="mb-5 my-5">Sécurité, bundles, traitements du Formulaire, pages partielles, explications divers:</h3>

        <p>La méthode des routes de chaque page est contrôlée pour maîtriser les GET, POST ou ANY. Par exemple, la page pour 
        supprimer une vidéo utilise la méthode DELETE. Tout cela renforce la sécurité contre d'éventuelles attaques CSRF.</p>

        <p>Ce site étant destiné à un public français, tout le contenu est en français. En revanche, le code 
        est entièrement en anglais, comme le conseillent les bonnes pratiques.</p>
        
        <p>Chaque page dispose d'une pagination des vidéos, réalisée avec le bundle KNP Paginator.</p>

        <p>Le bundle VichUploader est utilisé pour gérer l'upload des fichiers image servant aux effets parallaxe.</p>

        <p>Le bundle Nucleos DomPDF est utilisé pour générer et télécharger des fichiers PDF.</p>

        <p>Les pages de création, d’édition et de suppression de vidéos, situées sous le chemin /spécifique à l'administrateur, 
        sont protégées par 
        un contrôle d'accès défini dans le fichier security.yaml. Seuls les administrateurs (rôle ROLE_ADMIN) peuvent y 
        accéder, renforçant ainsi la sécurité de ces actions administratives.</p>

        <p>Le formulaire de publication de vidéos est soumis à des contraintes pour s'assurer que le format de la date et de la 
        durée, ainsi que les éléments du slug, soient conformes. Afin de faciliter le remplissage, les minuscules et les 
        majuscules sont toutes deux acceptées, car elles seront traitées lors de l'affichage avec Twig. Le titre de la vidéo 
        doit être unique, pour empêcher des doublons. La date sera au format jj/mm/aaaa. Concernant la durée, 
        elle doit être saisie au format heures.secondes (par exemple, 1.32 représentera 1 minute et 32 secondes lors du 
        traitement). Dans la base de données, cette durée sera uniquement stockée en secondes. Lors de l'affichage, une 
        reconversion en minutes et secondes sera de nouveau effectuée.</p>
        
        <p>Il existe des pages partielles permettant de produire les messages d'erreur en rouge ou de réussite en vert. 
        Il existe aussi une page servant de Base et qui contient tous les liens bootstrap, SEO, JavaScript, 
        Metas. La navbar et le footer sont également dans une page partielle portant leur nom.
        Les styles CSS et JS respectent également ce type de page pour plus de clarté.

        <p>Une Flèche nommée arrow-up permet de remonter en haut de la page, elle se déclenche lorsque l'on commence à 
        descendre. Elle fait partie des pages partielles.</p>

        <p>Le logo du site My Vlog a été créé par une IA, après une dizaine d'essais. La demande portait sur des thèmes comme : 
        un globe pour l'esprit voyage, une route pour rappeler le road trip, et des mots-clés comme : métal, noir et blanc, My Vlog.</p>

        <p>Les vidéos sur ce site sont réalisées avec une GoPro 7 et le logiciel de montage DaVinci Resolve.</p>

        <p>Ce site est en constante évolution.</p>


    <h3 class="mb-5 my-5">Tableau de bord de l'administrateur ci dessous</h3>


    <div id="carouselExampleCaptions" class="carousel slide carousel-fade my-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="4000">
            <img src="{{ asset('Admin_Page/Carousel/Dashboard.png') }}" class="d-block w-100" alt="image dashboard accueil">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="pcarousel">Dashboard - Accueil</h5>
            </div>
            </div>

            <div class="carousel-item" data-bs-interval="4000">
            <img src="{{ asset('Admin_Page/Carousel/Dashboard2.png') }}" class="d-block w-100" alt="image dashboard créer une vidéo">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="pcarousel">Dashboard - Créer une vidéo</h5>
            </div>
            </div>

            <div class="carousel-item" data-bs-interval="4000">
            <img src="{{ asset('Admin_Page/Carousel/Dashboard3.png') }}" class="d-block w-100" alt="image dashboard modifier une vidéo">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="pcarousel">Dashboard - Modifier une vidéo</h5>
            </div>
            </div>

            <div class="carousel-item" data-bs-interval="4000">
            <img src="{{ asset('Admin_Page/Carousel/Dashboard4.png') }}" class="d-block w-100" alt="image dashboard supprimer une vidéo">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="pcarousel">Dashboard - Supprimer une vidéo</h5>
            </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>

    
        <p>Image 1 : Dashboard - Accueil : Vu général du tableau de bord. Pour une utilisation plus ergonomique et intuitive, le tableau de bord est conçu avec 
        KnpPaginator Sortable, ce qui permet un tri simple, rapide et facile des vidéos par ID, slug, catégorie ou état.</p>

        <p>Image 2 : Dashboard - Créer une vidéo : Tous les champs présents ont un placeholder permettant d'avoir un indice sur le format attendu.</p>

        <p>Image 3 : Dashboard - Modifier une vidéo : Les champs de la vidéo sélectionnée seront remplis et prêts à être modifiés.</p>

        <p>Image 4 : Dashboard - Supprimer une vidéo : Un pop-up en Bootstrap viendra demander la confirmation de la suppression.</p>

</div>
{% endblock %}
