
{# Page for partials messages in twig : sucess or error messages :
Boucle For pour attraper les messages de app flashes stockés en session et créer une div alert avec le message 
Le type (c'est une key : sur la documentation twig/ boucle for/ iterating over keys and values) peut etre error ou sucess 
ce qui permettra a ma div alert- de devenir une alert-sucess ou une alert-error (pour trouver la couleur)
le | join (a defaut d'implode, il existe join en twig, il se trouve dans docs / filter / join) il affiche tous les messages flash 
du type actuel en les joignant avec un point (.) comme séparateur. 
Si plusieurs messages sont liés à un même type, ils seront combinés et tous montrés en une seule chaîne de texte séparée par un point. TODO #}

{%for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {{ messages | join('. ') }}

    </div>
{%endfor%}