
{# Page for partials messages in twig : sucess or error messages :
Boucle For for catch the messages of app flashes stocked in session and create a alert div with message 
The type (it's a key : in documentation twig/ boucle for/ iterating over keys and values) can be error or sucess 
and then the div alert- can become an alert-sucess or an alert-error (to sign the color red or green)
The | join (in the absence of implode, it exist join in twig, it is in docs / filter / join) he show all the flash messages
of the current type by joining them with a dot (.) as a separator. 
If many messages are linked to the same type, they will be combined and all shown as a single text string separated by a (.) point) #}

{%for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {{ messages | join('. ') }}

    </div>
{%endfor%}