{# Footer #}
<footer class="text-center text-white" style="background-color: black; box-shadow: 0px 0px 17px #65b868">
  <div class="container p-1 pb-0">
    <section>
        <ul class="nav justify-content-center border-0 mb-1">
            <li class="nav-item"><a href="https://www.linkedin.com/in/sandra-rocher-376311264/" 
                target="_blank" class="nav-link text-white px-2">Linkedin</a></li>
            <li class="nav-item"><a href="https://github.com/Sandra-Rocher" 
                target="_blank" class="nav-link text-white px-2">Github</a></li>
            <li class="nav-item"><a href="https://sandra-rocher.github.io/Portfolio-perso/" 
                target="_blank" class="nav-link text-white px-2">Portfolio</a></li>
            {# <li class="nav-item"><a href="https://cvdesignr.com/p/6405d12b8a89d" 
                target="_blank" class="nav-link text-white px-2">Mon CV</a></li> #}
            <li class="nav-item"><a href="/CV" class="nav-link text-white px-2">Mon CV</a></li>
            <li class="nav-item"><a href="https://www.youtube.com/@BS-xw1mb/videos" 
                target="_blank" class="nav-link text-white px-2">Suivez-nous</a></li>
            <li class="nav-item"><a href="/Mentions-Legales" class="nav-link px-2">Mentions légales</a></li>
            <li class="nav-item"><a href="/Recruteur" class="nav-link px-2">Vous êtes recruteur ?</a></li>
        </ul>
    </section>
  </div>
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">© 2024 Copyright Rocher Sandra</div>
</footer>