/* CSS page of base.html.twig */
/* in this order : navbar links with greenline / dropdown toggle colors / menu burger / text-shadow on all H / 
green underline of all H1  / body / general-div / arrow up / pagination / usa image maps next underline titles on toutes
les vidéos des USA, côte-ouest et côte-est */

.nav-link {
    color: white;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-link:hover {
    color: white;
}

/* green underline in all navbar link */
.nav-link::after {
    color:white;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #65b868;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

/*navbar dropdown toogle treatment : */
/*dropdown toggle in navbar treatment for the css automaticcaly given fat-line*/
.dropdown-toggle::after {
    /*css automatically given : then i transform */
    /* border-top: .3em solid; 
    border-right: .3em solid transparent; 
    border-bottom: 0; 
    border-left: .3em solid transparent; */
    border-top: none;
    border-right: none; 
    border-bottom: none; 
    border-left: none; 
}

/* Color dropdown menu in navbar green */
.dropdown-menu {
    background-color: #65b868;
}

/* menu burger */
.navbar-toggler-icon {
    background-color: #28a745;
}

h1, h2, h3, h4, h5 {
    text-shadow: 0px 0px 20px #65b868;
}

/* green underline on all h1 */
h1 {
    position: relative;
    display: inline-block;
}

h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #65b868;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}

h1:hover::after {
    width: 100%;
}

body {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}

.general-div {
    margin: 1em auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 85%;
    text-align: center;
}

/* Arrow up */
#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    /* hide by default */
    display: none; 
    background-color: black; 
    color: #65b868;
    box-shadow: 0px 0px 20px 5px rgba(101,184,104,0.5);
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1000;
}

#back-to-top:hover {
    background-color: #333;
}

/* Pagination colors */
.pagination .page-link {
    background-color: #000;
    color: #65b868;
    border: 1px solid #65b868;
    box-shadow: 1px 1px 10px #65b868;
}

.pagination .page-link:hover {
    background-color: #fff;
    color: #65b868;
}

.pagination .page-item.active .page-link {
    background-color: #fff;
    color: #65b868;
    border: 1px solid #65b868;
}

/* Image of USA map on Toutes les vidéos des USA, Côte-Ouest and Côte-Est, animation just after the green underline*/
.road-trip-container {
    position: relative;
}

.road-trip-title {
    position: relative;
}

.road-trip-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #65b868;
    transition: width 0.3s ease-in-out;
    transform: translateX(0%);
}

.road-trip-title:hover::after {
    width: 100%;
}

.road-trip-image {
    position: absolute;
    top: calc(100% - 115px);
    left: 50%;
    transform: translateX(0%);
    opacity: 0;
    width: 110px;
    height: auto;
    pointer-events: none;
}

.road-trip-title:hover + .road-trip-image {
    animation: fadeInRight 1.2s ease forwards;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(160px);
    }
    50% {
        opacity: 1;
        transform: translateX(230px);
    }
    to {
        opacity: 1;
        transform: translateX(190px);
    }
}

/* Hide usa map image on mobile screen (less than 768px) */
@media screen and (max-width: 768px) {
    .road-trip-image {
        display: none;
    }
}